*{
    margin: 0; 
    padding: 0;
}

main{
    width: 100vw; 
    height: 100vh;
    position: relative;
}

section{
    background: blue; 
    display: flex; 
    justify-content: center;
    align-items: center;
    }

article{
    background: yellow; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: end;
    width: 60vw; 
    height: 80vh;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50%;
    box-shadow: 0 10px 10px black;
}